<div class="flex justify-center items-center m-32">
  <div class="bg-white w-[90%] p-6 border-2 border-gray-400 rounded-md">
    <div>
      <div class="flex flex-row justify-between ">
        <h4 class="text-black font-normal text-xl"> {{suggestion?.title}}</h4>
        <div>
        <button class="text-xl text-red-500 mr-10" (click)="handleDeleteSuggestion(suggestion?.id || 0)" >Delete</button>
        <button class="text-xl text-blue-600"  routerLink="/suggestions"  >
          back to list
        </button>
        </div>
      </div>
      <div class="flex gap-2 mt-1">
        <p class="text-blue-600 text-sm">{{suggestion?.category}}</p>
        <p class="text-sm text-gray-600">{{suggestion?.date | date:'longDate'}}</p>
      </div>
    </div>
    <div class="flex flex-col mt-10 gap-3">
      <p class="text-sm text-gray-600">{{suggestion?.description}}</p>
      <div *ngIf="suggestion?.status === 'acceptee'">
        <p class="bg-green-200 w-20 text-center rounded-full text-black text-sm p-1">
          {{suggestion?.status}}
        </p>
      </div>
      <div *ngIf="!(suggestion?.status === 'acceptee')">
        <p class="bg-red-200 w-20 text-center rounded-full text-black text-sm p-1">
          {{suggestion?.status}}
        </p>
      </div>
    </div>
  </div>
</div>
