/* Importation de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles personnalisés globaux */
@layer components {
  .btn-primary {
    @apply bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-colors duration-200;
  }

  .btn-secondary {
    @apply bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition-colors duration-200;
  }

  .card {
    @apply bg-gray-200 rounded-lg shadow-md p-6 border border-gray-200 w-[60%]  flex justify-center items-center mt-10  ;
  }

  .input-field {
    @apply w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
  }
  .form-control{
    @apply w-[90%] h-8 rounded-lg m-2 p-2
  }
  .form-select{
    @apply w-[90%] h-8 rounded-lg m-2 p-1
  }
  .text-danger {
    @apply  text-red-700  font-bold
  }
}

/* Styles de base personnalisés */
@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }

  h1 {
    @apply text-3xl font-bold text-gray-900;
  }

  h2 {
    @apply text-2xl font-semibold text-gray-800;
  }

  h3 {
    @apply text-xl font-medium text-gray-700;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
